 body {
      font-family: sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #1e293b;
      margin: 0;
    }
    .login-container {
      background: white;
      padding: 40px 30px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 500px;
      box-sizing: border-box;
      transition: all 0.3s ease-in-out;
    }
    .login-container img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 300px;
      height: auto;
    }

    .login-container label{
        display: block;
        margin-bottom: 9px; 
    }

    .forgot-password {
    display: block; /* Faz o link ocupar a própria linha */
    text-align: center; /* Centraliza o texto */
    margin-top: 15px; /* Adiciona um espaço acima do link */
    color: #555; /* Cor de texto mais sutil */
    font-size: 0.9em; /* Tamanho da fonte um pouco menor */
    text-decoration: none; /* Remove o sublinhado */
}

    .forgot-password:hover {
    text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
    color: #222;
    }

    input[type="email"], input[type="password"] {
      width: 100%; padding: 10px; margin-bottom: 15px;
      border: 1px solid #ccc; border-radius: 4px;
      box-sizing: border-box;
    }
    button {
      width: 100%; padding: 10px;
      background-color: #2C525C; color: white;
      border: none; border-radius: 4px;
      cursor: pointer; font-size: 16px;
      transition: background-color 0.3s;
    }
    button:hover { background-color: #94B0B7; }
    #status-message {
      margin-top: 20px; padding: 10px;
      border-radius: 4px; text-align: center;
    }
    .success { background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; }
    .error { background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; }
    .info { background-color: #ffeeba; color: #856404; border: 1px solid #ffebcd; }


    .login-container .subtitle {
    text-align: center;
    color: #667; 
    margin-top: 0;
    margin-bottom: 25px; 
    }

    /* --- ESTILO PARA O RODAPÉ DO LOGIN --- */

    .login-footer {
    text-align: center;
    margin-top: 30px; /* Espaço entre o formulário e o rodapé */
    padding-top: 20px; /* Espaço acima do texto, abaixo da linha */
    border-top: 1px solid #e0e0e0; /* Linha sutil de separação */
    }

    .login-footer .system-name {
    margin: 0;
    color: #555; /* Cor principal do texto */
    font-size: 0.9em;
    font-weight: bold;
    }

    .login-footer .system-version {
    margin: 5px 0 0 0; /* Pequeno espaço acima */
    color: #888; /* Cor mais clara para a versão */
    font-size: 0.8em;
    }